################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AWSServerless_POC/obj/Debug/netcoreapp3.1
/AWSServerless_POC/.vs/AWSServerless_POC/v16
